
body{
    width: 536px;
    height: 304px;
}
#header{
    display: flex;
    z-index: 2;
    height: 150px;
}
#backgroundBox{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
}
#headCloud{
    position: absolute;
    left: 40px;
    top: 0px;
    z-index: 0;
}
#welcomeContain{
    z-index: 2;
    width: 50%;
    height: inherit;
    display: flex;
}
#welcome{
    margin: auto;
    color: black;
    font-size: 25px;
}
#user{
    width: 50%;
    height: inherit;
}
#message{
    font-size: 1.25em;
}
#lower{
    color: white;
    margin: auto;
    margin-top: 5px;
    vertical-align: center;
    width: 450px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#discovery{
    width: 400px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

#content{
    width: 400px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    
}
#regions{
    width: 190px;
    height: 90px;
    flex-direction: column;
    justify-content: flex-start;
}
.statItem{
    margin-left: 20px;
    font-weight: 700;
    font-size: 1.2em;
    margin-top:4px;
}
#recommended{
    width: 190px;
    height: 90px;
    flex-direction: column;
    justify-content: flex-start;
}
.statHeader{
    font-size: 1.2em;
    width: 190px;
}
#dpoints{
    font-weight: 700;
}
#rank{
    font-weight: 700;
}
a{
    color: white;
    font-weight: 700;
}


svg{
    display:block;
    overflow: visible;
}